body {
    background-color: #2c992d !important;
    text-align:center;
}

html {
    background-color: #2c992d;
}

p, span {
    margin:0;
    padding:0; }

a:hover { text-decoration:underline; }

#chatbox {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align:left;
    background:#fff;
    /*height:300px;
    width:400px;
    overflow:scroll;*/
    padding-left: 10px;
    padding-right: 10px;
}

.error { color: #ff0000; }


.welcome {
    float:left;
    margin-top:15px;
}

.logout {
    float:right;
    margin-top:10px;
}

.msgln { margin:0 0 2px 0; }