<div id="wrap" style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #F3F2F1;">
            <p class="welcome">Welcome, <b><?php echo $_SESSION['name']; ?></b></p>
            <p class="logout">
                <button type="submit" class="btn btn-md btn-default" name="exit" id="exit" value="Enter">Exit</button>
            </p>
            <!--<p class="logout"><a id="exit" href="#">Exit Chat</a></p>-->
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="padding: 0px;">
            <div id="chatbox">
                <?php
                    if(file_exists("log/log.html") && filesize("log/log.html") > 0){
                        $handle = fopen("log/log.html", "r");
                        $contents = fread($handle, filesize("log/log.html"));
                        fclose($handle);
                        echo $contents;
                    }
                ?>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #F3F2F1;">
            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" style="width: 90%;" />
                <input name="submitmsg" type="submit" class="btn btn-md btn-default" style="width:9%" id="submitmsg" value="Send" />
            </form>
        <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="menu">


        <div style="clear:both"></div>
    </div>



</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
    //Load the file containing the chat log
    window.setInterval( function() {
        loadLog();
    }, 500);

    function loadLog(){
        $.ajax({
            type: "GET",
            url: "log/log.html",
            cache: false,
            success: function(data){
                $("#chatbox").html(data); //Insert chat log into the #chatbox div
                //Auto-scroll
                var newscrollHeight = $("#chatbox").attr("scrollHeight") - 20; //Scroll height after the request
                if(newscrollHeight > 0){
                    $("#chatbox").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
                }
            },
            error: function(data){
                alert(data);
            }
        });
    }
    // jQuery Document
    //If user submits the form
    $("#submitmsg").click(function(){
        var clientmsg = $("#usermsg").val();

        $.post("post.php", {text: clientmsg});
        $("#usermsg").attr("value", "");

        var audio = new Audio('web/audio/click.mp3');
        audio.play();

        return false;
    });
    $(document).ready(function(){
        //If user wants to end session
        $("#exit").click(function(){
            var exit = confirm("Are you sure you want to end the session?");
            if(exit==true){window.location = 'index.php?logout=true';}
        });
    });
</script>