<div id="wrap" style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #F3F2F1;">
            <p class="welcome">Welcome, <b><?php echo $_SESSION['name']; ?></b></p>
            <p class="logout">
                <button type="submit" class="btn btn-md btn-default" name="exit" id="exit" value="Enter">Exit</button>
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="padding: 0px;">
            <div id="chatbox">
                <?php
                    if(file_exists("log/log.html") && filesize("log/log.html") > 0){
                        $handle = fopen("log/log.html", "r");
                        $contents = fread($handle, filesize("log/log.html"));
                        fclose($handle);
                        echo $contents;
                    }
                ?>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row" id="showEmoticonsDialog">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #F3F2F1;">
            <div class="row">
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":+1:">
                    <img src="web/img/emoticons/thumpup.gif">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-1:">
                    <img src="web/img/emoticons/thumdown.gif">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-)">
                    <img src="web/img/emoticons/smile.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=";-)">
                    <img src="web/img/emoticons/wink.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-D">
                    <img src="web/img/emoticons/laugh.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-*">
                    <img src="web/img/emoticons/kiss.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-(">
                    <img src="web/img/emoticons/frown.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-/">
                    <img src="web/img/emoticons/unamused.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id="8-)">
                    <img src="web/img/emoticons/shades.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id="X-P">
                    <img src="web/img/emoticons/knockedout.gif">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-P">
                    <img src="web/img/emoticons/tongue.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id="X-(">
                    <img src="web/img/emoticons/angry.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-|">
                    <img src="web/img/emoticons/blank.GIF">
                </button>
                <button name="chooseEmoticon" class="btn btn-md btn-default" id=":-A">
                    <img src="web/img/emoticons/veryangry.gif">
                </button>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #F3F2F1;">
            <div class="row">
                <div class="col-lg-1">
                    <button name="showEmoticons" class="btn btn-md btn-default" id="showEmoticons">
                        <img src="web/img/emoticons/smile.GIF">
                    </button>
                </div>
                <div class="col-lg-11">
                    <form name="message" action="">
                        <input name="usermsg" type="text" id="usermsg" style="width: 90%;" />
                        <input name="submitmsg" type="submit" class="btn btn-md btn-default" style="width:9%" id="submitmsg" value="Send" />
                    </form>
                </div>
            </div>
        <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="menu">
        <div style="clear:both"></div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">

    $('#showEmoticonsDialog').hide();
    $('#showEmoticons').click(function() {
        if($('#showEmoticonsDialog').is(":visible")) {
            $('#showEmoticonsDialog').hide();
        } else {
            $('#showEmoticonsDialog').show();
        }

    });

    $("button[name='chooseEmoticon']").click(function() {
        $("#usermsg").attr("value", $("#usermsg").attr("value") + $(this).attr("id"));
        $('#showEmoticonsDialog').hide();
    });

    //Load the file containing the chat log
    window.setInterval( function() {
        loadLog();
    }, 300);

    function loadLog(){
        $.ajax({
            type: "GET",
            url: "log/log.html",
            cache: false,
            success: function(data){
                $('#chatbox').html(data);
                //Auto-scroll
                var newscrollHeight = $("#chatbox").attr("scrollHeight") - 20; //Scroll height after the request
                if(newscrollHeight > 0){
                    $("#chatbox").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
                }
            },
            error: function(data){
                alert("FEHLER!");
                console.log(data);
            }
        });
    }
    // jQuery Document
    //If user submits the form
    $("#submitmsg").click(function(){
        var clientmsg = $("#usermsg").val();

        $.post("post.php", {text: clientmsg});
        $("#usermsg").attr("value", "");

        var audio = new Audio('web/audio/click.mp3');
        audio.play();

        return false;
    });
    $(document).ready(function(){
        //If user wants to end session
        $("#exit").click(function(){
            var exit = confirm("Are you sure you want to end the session?");
            if(exit==true){window.location = 'index.php?logout=true';}
        });
    });
</script>