
<div class="row" id="loginForm" style="background-color: transparent">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-default" style="margin-top: 100px">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">

                <form class="form-signin" action="index.php" method="post">
                    <label class="sr-only" for="name">Username</label>
                    <input type="text" required="" placeholder="Nickname" class="form-control" name="name" id="name">
                    <button type="submit" class="btn btn-md btn-default btn-block" style="margin-top:1%;" name="enter" id="enter" value="Enter">Go!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>